.home-container {
    text-align: center;
    
    padding-top: 0%;
    
}


.hero-section {
    
    position: relative;
    height: 20vh; 
    background-image: url('../assets/images/hero1.jpg'); 
    background-attachment: fixed; /* Aquí es donde se aplica el efecto parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero-content {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.about-section{
    height: 30vh;
}

.menu-highlight {
    
    padding: 50px 20px;
}

.highlight-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
