.slideshow-container {
    position: relative;
    width: 100%;
    height: 500px; /* Ajusta según tus necesidades */
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.text {
    position: absolute;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.text h1 {
    font-size: 3rem;
    margin: 0;
}

.text p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Solo animar cuando la clase 'animate' esté presente */
.text.animate h1 {
    animation: slideTitleIn 0s ease-in-out forwards;
}

.text.animate p {
    animation: slideSubtitleIn 1.5s ease-in-out forwards;
}

@keyframes slideTitleIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideSubtitleIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide.active {
    opacity: 1;
}
